body{
  background-color: darkgray;
}
.navbar{
  background-color: cadetblue;
}
.nav-items{
  display: flex;
  
  
}
button{
  
  margin-left: 1070px;
  height: 40px;
  width: 100px;
  border-radius: 10px;
  background-color:rgb(84, 196, 102);
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif
}

button:hover{
  background-color: white;
}
.avatar{
  border-radius: 50%;
}

#main{
  padding: 25px 50px;
  margin-left:auto;
  margin-right: auto;
  display: none;
}
.profile{
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  max-width: 300px;
  margin: 12px auto;
  text-align: center;
  font-family: arial;
  padding: 25px;
  border-radius: 18px;
  background-color: white;
}

.profile:hover{
  transition: 200ms;
  box-shadow: 16px 16px 16px 16px rgb(46, 46, 46);
  transform: translateY(-3px);

}
.email{
  color:black;
  font-size: 18px;
  overflow-wrap: anywhere;
}
.name{
  font-size: 25px;
  font-family: fantasy;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: black;
}

.loader{
  margin-left: auto;
  margin-right: auto;
}

.first-h2{
  font-family: cursive;
  margin-left: 30px;
}
